:root {
    --color-blue: #2196F3;
    --color-blue-light: #03A9F4;
    --color-cyan: #00BCD4;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-blue), var(--color-blue-light));
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;

}