.about {
    height: calc(100vh - #{$nav-height});
    background-color: #ddd;

    &__heading {
        border-bottom: 0.5rem solid rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 13rem;
            color: rgba(0, 0, 0, 0.1);

            span {
                font-size: 4rem;
                color: color(teal);
            }
        }
    }

    &__info {
        padding: 0 4rem 0 0;
    }

    &__images {
        height: 90%;
    }
}