.about {
    height: calc(100vh - #{$nav-height});
    background-color: #ddd;

    @include respond-below(sm) {
        height: auto;
    }

    &__heading {
        border-bottom: 0.5rem solid rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 13rem;
            color: rgba(0, 0, 0, 0.1);

            @include respond-below(md) {
                font-size: 10rem
            }

            span {
                font-size: 4rem;
                color: color(teal);

                @include respond-below(md) {
                    font-size: 3rem;
                }
            }
        }
    }

    &__info {
        padding: 0 4rem 0 0;

        @include respond-below(sm) {
            height: 50rem;
            padding: 4rem;
        }
    }

    &__images {
        height: 90%;

        @include respond-below(md) {
            height: 80%;
        }

        @include respond-below(sm) {
            height: 50rem;
        }
    }
}