.home-button {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;
    background: var(--color-teal);
    cursor: pointer;
    color: #fff;

    &:hover {
        color: #fff;
        box-shadow: -1.5rem 0 3rem rgba(255, 255, 255, .5), 1.5rem 0 3rem rgba(255, 255, 255, .5);
        text-shadow: 0 0 1rem rgba(255, 255, 255, .5), 0 0 2rem rgba(255, 255, 255, .5), 0 0 3rem rgba(255, 255, 255, .5);
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 6rem;
    //     height: 5rem;
    //     border-radius: 1rem;
    //     background: rgba(022, 20, 152, 0);
    //     filter: blur(0.4rem);
    //     transition: 3s;
    //     z-index: -1;
    // }

    // &:hover::before {
    //     background: rgba(022, 20, 152, 1);
    //     transform: scaleX(5);
    // }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 6rem;
    //     height: 5rem;
    //     border-radius: 1rem;
    //     background: rgba(122, 0, 255, 0);
    //     filter: blur(0.4rem);
    //     transition: 3s;
    //     z-index: -1;
    // }

    // &:hover::after {
    //     background: rgba(122, 0, 255, 1);
    //     transform: scaleX(5);

    // }
}