.home-button {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;
    background: var(--color-teal);
    cursor: pointer;
    color: #fff;
    margin-top: 5rem;

    &:hover {
        color: #fff;
        box-shadow: -1rem 0 2rem rgba(255, 255, 255, .5), 1rem 0 2rem rgba(255, 255, 255, .5);
        text-shadow: 0 0 1rem rgba(255, 255, 255, .5), 0 0 2rem rgba(255, 255, 255, .5), 0 0 3rem rgba(255, 255, 255, .5);
    }

}