#header {

    .header-image {
        height: 100vh;
        //background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), $header-image;
        //background: #eb01a5;
        // background-image: linear-gradient(to left,
        //     rgba(0, 0, 0, 0.6) 10%,
        //     rgba(0, 0, 0, 0.4) 30%,
        //     rgba(0, 0, 0, 0.5) 50%,
        //     rgba(0, 0, 0, 0.8) 70%,
        //     rgba(0, 0, 0, 0.9) 90%),
        //     $header-image;
        background-image: linear-gradient(to left,
            rgba(0, 0, 0, 0.7) 10%,
            rgba(0, 0, 0, 0.7) 30%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.8) 90%),
            $header-image;
        background-size: cover;
        background-position: 75% 10%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .header-text-container {
            margin-left: 2rem;

            @include respond-below(lg) {
                margin: 2rem;
            }

            h1 {
                font-family: 'Ubuntu', sans-serif;
                font-size: 5rem;
                letter-spacing: 0.3rem;
                margin-bottom: 1rem;
                background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                transition: all 0.3s;

                @include respond-below(sm) {
                    font-size: 4rem;
                }

                span {
                    background: -webkit-linear-gradient(rgba($color-yellow, 1) 30%, rgba($color-yellow, 0) 100%);
                    @include text-bg;
                }

                &:hover {
                    @include scale-up;
                }
            }

            p {
                font-size: 2.3rem;
                letter-spacing: 0.2rem;

                @include respond-below(sm) {
                    font-size: 2rem;
                }
            }
        }
    }
}