.image-container {
    position: relative;

    .img--1 {
        width: 20rem;
        height: 20rem;
    }

    .img--2 {
        width: 20rem;
        height: 20rem;
    }

    .img--3 {
        width: 20rem;
        height: 20rem;
    }
}