.navmenu {
    position: fixed;
    background-image: transparent;
    transition: background-image 0.3s ease-in-out;
    width: 100%;
    height: 10vh;
    display: grid;
    z-index: 2;
    transition: 0.5s ease-in-out;

    ul {
        list-style: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.6rem;
        align-self: center;

        li {
            display: inline-block;
            margin: 0 1rem;
            text-align: center;

            a {
                position: relative;
                text-decoration: none;
                background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-family: 'Ubuntu', sans-serif;
                padding: 1rem;
                letter-spacing: 0.3rem;
                font-weight: 500;
                transition: color 2.5s ease-in-out, border-bottom 0.18s ease-in-out;

                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    position: absolute;
                    height: 0.3rem;
                    background: var(--color-amber);
                    transition: width 350ms ease-out;
                }

                &:hover {
                    background: -webkit-linear-gradient(rgba($color-yellow, 1) 30%, rgba($color-yellow, 0.5) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    //color: var(--color-amber);
                    //border-bottom: 0.3rem solid var(--color-amber);

                    &::after {
                        width: 100%;
                    }
                }

            }


        }

    }
}

.nav-bg {
    background-image: linear-gradient(to left, color(nav-dark), map-get($colors, nav-light));
    height: $nav-height;
}