.navmenu {
    position: fixed;
    text-transform: uppercase;
    align-self: flex-end;
    color: #fff;
    font-size: 1.6rem;

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 0.5rem;
            margin: 1.5rem 0;

            a {
                position: relative;
                text-decoration: none;
                background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-family: 'Ubuntu', sans-serif;
                padding: 1rem;
                letter-spacing: 0.3rem;
                font-weight: 500;
                transition: color 0.5s ease-in-out, border-bottom 0.18s ease-in-out;

                &:hover {
                    background: -webkit-linear-gradient(rgba($color-yellow, 1) 30%, rgba($color-yellow, 0.5) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    //color: var(--color-amber);
                    border-bottom: 0.3rem solid var(--color-amber);
                }

            }
        }

    }
}