#services {
    height: calc(100vh - #{$nav-height});
    background-color: #eee;

    @include respond-below(md) {
        height: 63rem;
    }


    @include respond-below(xs) {
        height: 100rem;
    }

    .services-container {
        height: calc(100% - 6rem);
        margin: 3rem;

        @include respond-below(xs) {
            margin: 1rem;
        }

        .service-image {
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('/assets/images/service.jpg');
            background-size: cover;
            background-position: 50% 40%;
            border-radius: 1.6rem;
        }

        .service-heading {
            text-align: center;
            color: #fff;
            font-family: 'Ubuntu', sans-serif;

            h1 {
                font-size: 13rem;
                color: rgba(color(yellow), 0.2);

                @include respond-below(md) {
                    font-size: 9rem
                }

                @include respond-below(sm) {
                    font-size: 8rem;
                }

                @include respond-below(xs) {
                    font-size: 7rem;
                }

                span {
                    font-size: 3rem;
                    color: color(amber);

                    @include respond-below(md) {
                        font-size: 2.5rem
                    }

                    @include respond-below(xs) {
                        font-size: 2rem
                    }
                }
            }
        }

        .service-card {
            perspective: 150rem;
            -moz-perspective: 150rem;
            position: relative;
            height: 100%;

            &__side {
                height: 100%;
                box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
                background-color: #fff;
                border-radius: 1.6rem;
                transition: all 0.7s ease;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                backface-visibility: hidden;

                &--front {
                    //background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(206, 186, 74, 0.6));
                    overflow: hidden;
                }

                &--back {
                    transform: rotateY(180deg);
                    background-image: linear-gradient(to bottom, rgba(color(pink), 0.8), rgba(color(yellow), 0.8));
                    position: relative;

                    button a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }

            &:hover .service-card__side--front {
                transform: rotateY(-180deg);
            }

            &:hover .service-card__side--back {
                transform: rotateY(0);
            }

            &__image {
                background-size: cover;
                height: 55%;
                background-blend-mode: multiply;
                clip-path: ellipse(100% 100% at 50% 0%);

                @include respond-below(md) {
                    height: 45%;
                }

                @include respond-below(xs) {
                    height: 50%;
                }

                &--1 {
                    background-image: linear-gradient(to bottom, rgba(color(pink), 1), rgba(color(yellow), 1)),
                        url('/assets/images/website-dev.jpg');
                    background-position: bottom;
                }

                &--2 {
                    background-image: linear-gradient(to bottom, rgba(color(pink), 1), rgba(color(yellow), 1)),
                        url('/assets/images/webapp-dev.jpg');
                    background-position: center;
                }

                &--3 {
                    background-image: linear-gradient(to bottom, rgba(color(pink), 1), rgba(color(yellow), 1)),
                        url('/assets/images/soft-dev.jpg');
                    background-position: center;
                }
            }

            @include respond-below(sm) {
                &__unique {
                    .service-card__image {
                        height: 100%;
                        clip-path: ellipse(100% 100% at 0% 50%);

                        @include respond-below(xs) {
                            clip-path: ellipse(100% 100% at 50% 0%);
                        }
                    }

                    .service-card__heading {
                        position: absolute;
                        top: 50%;
                        left: 25%;
                        transform: translate(-50%, -50%);
                        width: 30%;

                        @include respond-below(xs) {
                            top: 25%;
                            left: 50%;
                            width: 50%;
                        }
                    }
                }
            }

            &__heading {
                text-transform: uppercase;
                color: white;
                letter-spacing: 0.1rem;
                position: absolute;
                top: 25%;
                left: 50%;
                width: 70%;
                transform: translate(-50%, -50%);

                @include respond-below(md) {
                    top: 20%;
                    font-size: 1.6rem;
                }

                @include respond-below(xs) {
                    top: 25%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    text-align: center;
                }

                &--1,
                &--2,
                &--3 {
                    padding: 0.5rem 1rem;
                    box-decoration-break: clone;
                    background-image: linear-gradient(rgba(color(yellow), 0.5), rgba(color(pink), 0.6));
                }
            }

            &__details {
                padding: 2rem;
                font-size: 1.4rem;
                text-align: justify;

                @include respond-below(lg) {
                    padding: 1rem;
                }

                @include respond-below(md) {
                    font-size: 1.3rem;
                    padding: 1rem;
                }
            }
        }
    }
}