#skills {
    height: 100vh;
    background-color: #ccc;

    .skill-content {
        height: 90%;
        background-color: #ddd;

        &>* {
            align-self: center;
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            //border: 0.5rem solid var(--color-blue-grey);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .skill1 {
            background-image: url('/assets/images/logo/js.png');

            .ldBar {}
        }

        .skill2 {
            background-image: url('/assets/images/logo/css.png');
        }

        .skill3 {
            background-image: url('/assets/images/logo/js.png');
        }

        .skill4 {
            background-image: url('/assets/images/logo/java.jpg');
        }

        .skill5 {
            background-image: url('/assets/images/logo/angular.png');
        }

        .skill6 {
            background-image: url('/assets/images/logo/html.png');
        }

        .skill7 {
            background-image: url('/assets/images/logo/html.png');
        }

        .skill8 {
            background-image: url('/assets/images/logo/html.png');
        }

        .skill9 {
            background-image: url('/assets/images/logo/html.png');
        }

    }

}