#skills {
    height: 100vh;
    background-color: #ccc;

    .skill-content {
        height: 90%;
        background-color: #ddd;
        padding: 4rem;

        .skill-box {
            width: 100%;
            height: 100%;
            //box-shadow: 0 0 0.7rem $shadow;
            box-shadow: 0 0 3rem rgba($color-lime, 0.5);
            border-radius: 2rem;
            transition: 0.3s;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/skill-card-bg.jpg');
                background-size: cover;
                background-position: center;
                transition: 0.5s;
            }

            &:hover {
                border-radius: 0.5rem;
                box-shadow: 0 0 5rem rgba($color-lime, 0.8);

                &::before {
                    transform: scale(1.2);
                    filter: blur(0.2rem) brightness(80%);
                }
            }

            img {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                border: 0.5rem solid var(--color-blue-grey);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
            }

            label {
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                color: var(--color-blue-grey);
                z-index: 1;
            }

            .bar {
                height: 30%;
                width: 90%;
                border: 0.3rem solid var(--color-blue-grey);
                border-radius: 1rem;
                background-color: var(--color-blue-grey);
                position: relative;
                overflow: hidden;

                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: var(--color-blue-grey);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 80%;
                    background-color: var(--color-lime);
                }
            }

            .html::before {
                width: 85%;
            }

            .css::before {
                width: 90%;
            }

            .js::before {
                width: 80%;
            }

            .ng::before {
                width: 60%;
            }

            .jq::before {
                width: 75%;
            }

            .bs::before {
                width: 70%;
            }

            .java::before {
                width: 70%;
            }

            .spring::before {
                width: 75%;
            }

            .jspserv::before {
                width: 80%;
            }

        }
    }
}