.paragraph {
    font-size: 1.6rem;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.heading-primary {
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
}