@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-bg {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin scale-up {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem $shadow;
}

@mixin skill-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}