// css variables
:root {
    --color-red: #F44336;
    --color-pink: #E91E63;
    --color-purple: #9C27B0;
    --color-deep-purple: #673AB7;
    --color-indigo: #3F51B5;
    --color-blue: #2196F3;
    --color-light-blue: #03A9F4;
    --color-cyan: #00BCD4;
    --color-teal: #009688;
    --color-green: #4CAF50;
    --color-light-green: #8BC34A;
    --color-lime: #CDDC39;
    --color-yellow: #FFEB3B;
    --color-amber: #FFC107;
    --color-orange: #FF9800;
    --color-deep-orange: #FF5722;
    --color-brown: #795548;
    --color-grey: #9E9E9E;
    --color-blue-grey: #607D8B;
}

// Sass variables
$header-image: url('/assets/images/header-image.jpg');
$color-yellow: #FFEB3B;
$color-yellow-light: lighten($color-yellow, 40%);
$shadow: rgba(0, 0, 0, .4);

$colors: (nav-dark: #016B89,
nav-light: #0D9F90,
red: #F44336,
pink: #E91E63,
purple: #9C27B0,
deep-purple: #673AB7,
indigo: #3F51B5,
blue: #2196F3,
light-blue: #03A9F4,
cyan: #00BCD4,
teal: #009688,
green: #4CAF50,
light-green: #8BC34A,
lime: #CDDC39,
yellow: #FFEB3B,
amber: #FFC107,
orange: #FF9800,
deep-orange: #FF5722,
brown: #795548,
grey: #9E9E9E,
blue-grey: #607D8B);

$nav-height: 7vh;




// Breakpoints for Responsive design 
$breakpoints: ('extra-small' : (max-width: 575px),
'small' : (max-width: 768px),
'medium' : (max-width: 991px),
'large' : (max-width: 1199px));