:root {
  --color-red: #F44336;
  --color-pink: #E91E63;
  --color-purple: #9C27B0;
  --color-deep-purple: #673AB7;
  --color-indigo: #3F51B5;
  --color-blue: #2196F3;
  --color-light-blue: #03A9F4;
  --color-cyan: #00BCD4;
  --color-teal: #009688;
  --color-green: #4CAF50;
  --color-light-green: #8BC34A;
  --color-lime: #CDDC39;
  --color-yellow: #FFEB3B;
  --color-amber: #FFC107;
  --color-orange: #FF9800;
  --color-deep-orange: #FF5722;
  --color-brown: #795548;
  --color-grey: #9E9E9E;
  --color-blue-grey: #607D8B;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #777;
}

.home-button {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  background: var(--color-teal);
  cursor: pointer;
  color: #fff;
  margin-top: 5rem;
  outline: none;
}

.home-button:hover {
  color: #fff;
  -webkit-box-shadow: -1rem 0 2rem rgba(255, 255, 255, 0.5), 1rem 0 2rem rgba(255, 255, 255, 0.5);
          box-shadow: -1rem 0 2rem rgba(255, 255, 255, 0.5), 1rem 0 2rem rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5), 0 0 2rem rgba(255, 255, 255, 0.5), 0 0 3rem rgba(255, 255, 255, 0.5);
}

.image-container {
  position: relative;
}

.image-container .img--1 {
  width: 20rem;
  height: 20rem;
}

.image-container .img--2 {
  width: 20rem;
  height: 20rem;
}

.image-container .img--3 {
  width: 20rem;
  height: 20rem;
}

.navmenu {
  position: fixed;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #fff;
  font-size: 1.6rem;
}

.navmenu ul {
  list-style: none;
}

.navmenu ul li {
  display: inline-block;
  padding: 0.5rem;
  margin: 1.5rem 0;
  text-align: center;
}

.navmenu ul li a {
  position: relative;
  text-decoration: none;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Ubuntu', sans-serif;
  padding: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
  -webkit-transition: color 0.5s ease-in-out, border-bottom 0.18s ease-in-out;
  transition: color 0.5s ease-in-out, border-bottom 0.18s ease-in-out;
}

.navmenu ul li a::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  height: 0.3rem;
  background: var(--color-amber);
  -webkit-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.navmenu ul li a:hover {
  background: -webkit-linear-gradient(#ffeb3b 30%, rgba(255, 235, 59, 0.5) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navmenu ul li a:hover::after {
  width: 100%;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .header-image {
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/header-image.jpg");
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("/assets/images/header-image.jpg");
  background-size: cover;
  background-position: 75% 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header .header-image .header-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

#header .header-image .header-text-container h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#header .header-image .header-text-container h1 span {
  background: -webkit-linear-gradient(#ffeb3b 30%, rgba(255, 235, 59, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .header-image .header-text-container p {
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}

#about {
  height: 100vh;
}

#about .about-heading {
  text-align: center;
}

#about .about-heading span {
  font-size: 4rem;
  font-weight: 700;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(var(--color-blue)), to(var(--color-cyan)));
  background: linear-gradient(to right, var(--color-blue), var(--color-cyan));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#about .about-heading span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

#about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .about-content .about-info {
  background-color: aqua;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#about .about-content .about-images {
  background-color: green;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#skills {
  height: 50rem;
  background-color: brown;
}

#experience {
  height: 50rem;
  background-color: tomato;
}

#education {
  height: 50rem;
  background-color: steelblue;
}
/*# sourceMappingURL=style.css.map */