.container {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .about-info {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
    }

    .about-images {
        flex: 0 0 50%;
    }
}

.navmenu {
    display: flex;
    justify-content: flex-end;
}