.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas: "head"
        "skill"
        "exp"
        "edu";
}