// #about {
//     display: grid;
//     grid-template-rows: 10% 90%;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-areas: "head head"
//         "image content";
//     align-items: center;

//     .about-heading {
//         grid-area: head;
//     }

//     .about-images {
//         grid-area: image;
//     }

//     .about-info {
//         grid-area: content;
//     }
// }

.skill-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
}