#header {

    .header-image {
        height: 100vh;
        //background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), $header-image;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), $header-image;
        background-size: cover;
        background-position: 75% 10%;
        //background-origin: border-box;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .header-text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2rem;

            h1 {
                font-family: 'Ubuntu', sans-serif;
                font-size: 5rem;
                letter-spacing: 0.3rem;
                margin-bottom: 1rem;
                background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;

                span {
                    background: -webkit-linear-gradient(rgba($color-yellow, 1) 30%, rgba($color-yellow, 0) 100%);
                    @include text-bg;
                }
            }

            p {
                font-size: 2.3rem;
                letter-spacing: 0.2rem;
            }
        }
    }
}

#about {
    height: 100vh;

    .about-heading {
        text-align: center;

        span {
            font-size: 4rem;
            font-weight: 700;
            display: inline-block;
            background: linear-gradient(to right, var(--color-blue), var(--color-cyan));

            @include text-bg;
            transition: all .2s;

            &:hover {
                transform: scale(1.1);
                text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
            }
        }
    }

    .about-content {
        display: flex;
        flex-direction: row;

        .about-info {
            background-color: aqua;
            flex-grow: 1; // or, flex: 1;
        }

        .about-images {
            background-color: green;
            flex-grow: 1;
            ;
        }
    }
}

#skills {
    height: 50rem;
    background-color: brown;
}

#experience {
    height: 50rem;
    background-color: tomato;
}

#education {
    height: 50rem;
    background-color: steelblue;
}