.container {
    min-height: 100vh;
}

#experience {
    height: calc(100vh - #{$nav-height});
    background-color: #eee;
}

#education {
    height: auto;
    background-color: #eee;
}

#work {
    height: 20rem;
    background-color: var(--color-indigo);
    color: wheat;
}

.footer {
    height: 7vh;
    width: 100%;

    &__bar {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color(teal);
        color: #fff;
        font-size: 1.6rem;
    }
}