#header {

    .header-image {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $header-image;
        background-size: cover;
        height: 100vh;
    }
}